* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

li {
  list-style-type: none; /* Removes the bullet or number */
  margin: 0; /* Removes the default margin */
  padding: 0; /* Removes the default padding */
}

.debug {
  border: 1px solid red;
}

.fullHeightDiv {
  height: 100vh;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 8rem 6rem;
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 3rem;
  }

  .section__margin {
    margin: 3rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 2rem 2rem;
  }

  .section__margin {
    margin: 2rem 2rem;
  }
}